.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 32px 0px 32px 0px;
}

.form {
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 8px 0px 8px 0px;
}

.form-group {
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}